<form name="auth" class="header__form" action="/php/auth.php" method="post">
    <label class="form__input">
        <input name="mail" type="text" required>
    </label>
    <label class="form__input">
        <input name="password" type="password" required>
    </label>
    <input class="form__input button link" name="auth" type="submit" value="Вход">
    <a class="button link" href="/signup/">Регистрация</a>
</form>
<span class="error_message">{ERROR}</span>
<script>
    document.forms.auth.addEventListener('input', ()=>document.querySelector('.error_message').innerText = '');
</script>